*{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin:auto;
    max-width: 450px;
}
header{
    width: 450px;
    display: flex;
    text-align: center;
    background-color:#333333 ;
    vertical-align: middle;
    position: fixed;
    gap: 24px;
    padding: 16px;
    z-index: 1;
}
img{
    display: inline-block;
}
.logo{
   max-width: 42px;
}

ul{
    list-style: none;
    display: flex;
    gap: 28px;
}
li{
    color: aliceblue;
}

a{
  text-decoration: none; 
  color: aliceblue;   
}

a:hover{
    text-decoration: underline;
}
h1{
    color: aliceblue;
    font-weight: 200;
}
nav{
    display: flex;
   justify-content: space-between;
   align-items: center;
  padding-top: 80px;
  background-color:#d61010 ;
}
#cabeça{
  display: flex;
  align-items: center;
}
.input{
    display: flex;
    align-items: center;  
    height: 36px;
    position: relative;
}
input{
    height: 36px;
    background-color: #5c0000;
    border-radius: 24px;
    padding-left: 33px;
}
.input::before{
   left: 10px; 
   content: "";
   width: 24px;
   height: 24px;
   background-image: url(../imagens/search.svg); 
   background-repeat: no-repeat;
   background-size: cover;
   position: absolute;
}
section{
    flex-direction: column;
    display: flex;
    align-items: center; 
    background-color: #d61010;
    height: 390px;
    text-align: center;
}
#ima{
    width: 430px;
    height: 470px;
    background-image: url(https://www.dueruote.it/content/dam/dueruote/it/foto/moto-scooter/2013/01/18/mv-agusta-f4-rr-2013/gallery/rbig/404113-3897-big-4cm8718.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 3px;
}
section ul{
   justify-content: center;
   position: relative;
   bottom: 0;
   margin-top: 270px;
}
.jk{
    margin-top: 0px;
    height: 140px;
    background-color: #5c0000;
    font-size: 0.8em;
}
main{
    height: 680px;
    background-color: #d61010;
    flex-direction: column;
    display: flex;
    align-items: center; 
}
#seg{
    margin-top: 10px;
    height: 280px;
    width: 430px;
    background-image: url(../imagens/Image.svg);
}
footer{
    display: flex;
    height:70px;
    background-color:#333333;
}

#h{
    font-size: 27px;
    width:160px;
}

